/* GetStarted.css */
.get-started-container {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    height: 100vh;
  }
  
  .left-grid {
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fphotos%2FGjCx5KhulZI&psig=AOvVaw3mRlr_VG45dTaaikQCblFk&ust=1700012918644000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPiNgOWvwoIDFQAAAAAdAAAAABAJ');
    background-size: cover;
    background-position: center;
  }
  
  .right-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  p {
    margin-top: 10px;
    font-size: 1.2rem;
  }
  
  .buttons-container {
    margin-top: 20px;
    display: flex;
    width: 350px;
    display: flex;
    align-items: center; /* Center text vertically */
  }
  
  button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    height: 45px;
  }

  .login-button{
    background-color: #789E61;
    color: #fff;
  }

  
  
