/* Register.css */
.reg-container {
    position: relative;
    height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('plasticbg.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    filter: opacity(0.5); /* Adjust the opacity as needed */
}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 80%; /* Adjust the width as needed */
}

.right-grid {
    flex: 0.75;
}

.reg-box {
    position: relative; /* Change from absolute to relative */
    padding: 20px;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    align-items: center;
    width: 100%; /* Ensure the form takes the full width */
    height: 100%;
    margin-right: 0; /* Remove the margin */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 15px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 20px;
}

button {
    padding: 15px;
    background-color: #789E61;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.Logo {
    grid-area: logo;
    height: 70px;
    padding-bottom: 10px;
}

.left-grid {
    flex: 1;
    margin-right: -20px; /* Adjust the margin to eliminate any gap */
    margin-top: 5px;
    margin-bottom: 5px;
}

.background-image-left {
    margin-top: 15px;
    width: 100%;
    height: 96.5%;
    object-fit: cover;
    border-top-left-radius: 20px; /* Ensure the border radius matches .reg-box */
    border-bottom-left-radius: 20px;
}
